// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$body-font-size: 1rem;
$line-height-base: 1.6;


// Colors
$blue: #0069ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff4545;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #00d472;
$teal: #4dc0b5;
$cyan: #6cb2eb;
